* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: rgb(23, 18, 96);
    background: linear-gradient(27deg, rgba(23, 18, 96, 1) 0%, rgba(76, 38, 129, 1) 51%, rgba(26, 11, 34, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    background-image: url("../images/background-figures2.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -10;
}


.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}



.body-container {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
}

.container-fokus {
    display: flex;
    align-items: center;
}

.text-container {
    display: flex;
    max-width: 490px;
    min-height: 402px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.text {
    color: #FFF;

    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 150;
    line-height: 150%;
}

.text-continuation {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.container-timer {
    display: flex;
    min-width: 500px;
    min-height: 300px;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 32px;
    border: 2px solid var(--Azul-royal, #144480);
    background: var(--Fundo-card-timer, rgba(20, 68, 128, 0.30));
}

.buttons-fokus {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.button-fokus {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffffb7;
    box-shadow: 0 0 0 2px #ffffff87;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-fokus span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #6721f3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-fokus span:first-child {
    position: relative;
    z-index: 1;
}

.button-fokus:hover {
    box-shadow: 0 0 0 5px #6421f360;
    color: #ffffff;
}

.button-fokus:active {
    scale: 0.95;
}

.button-fokus:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

.restart-image {
    display: none;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 4rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.restart-image:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}


.restart-image:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}

.timer-countdown {
    color: #FFF;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.timer-ends-message {
    display: flex;
    max-width: 450px;
    min-height: 300px;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 32px;
    border: 1px solid var(--Azul-royal, #361480);
    background: rgba(47, 20, 128, 0.8);
}

#timer-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Orbitron', sans-serif;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close-button-timesup {
    background-color: #1f63c3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.footer {
    color: #aab1dc;
    font-family: 'Orbitron', sans-serif;
    font-weight: 200;
    font-size: 12px;
    margin-top: 2.6rem;
}

@media (max-width: 1000px) {
    .container-fokus {
        flex-direction: column;
    }


}

@media(max-width: 500px) {
    .body-container {
        padding-top: 0;
    }

    .text-container {
        max-width: 260px;
        min-height: 215px;
    }

    .text {
        font-size: 25px;
    }

    .text-continuation {
        font-size: 27px;
    }

    .container-timer {
        min-width: 350px;
        min-height: 90px;
    }

    .buttons-fokus {
        justify-content: space-between;
    }

    .button-fokus {
        padding: 12px 17px;
        font-size: 12px;
    }

    .footer {
        font-size: 10px;
        margin-top: 2rem;
    }
}